<%= debug session[:cart] %>
<% @cart.each_with_index do |book, index| %>
<div class="card" style="width: 18rem;">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to book.name, book %></h5>
    <img src="<%= book.image_url %>"/>

    <p class="card-text"><%= book.author %></p>
    <h6>$<%= book.price %></h6>
    <h6> Quantity: <%= session[:cart][index]['quantity'] %> </h6>
    
    <%= button_to 'Remove from Cart', remove_from_cart_path(book), method: :delete, class: 'btn btn-primary' %>
    <br>
    <h5> <%= link_to '<i class="bi bi-arrow-down-circle"></i>'.html_safe, add_quantity_path(book.id), method: :post, class: 'btn btn-primary btn-sm' %> <%= link_to '<i class="bi bi-arrow-up-circle"></i>'.html_safe, remove_quantity_path(book.id), method: :post, class: 'btn btn-primary btn-sm' %> </h5>
    
     </div>
    </div>

<% end %>

<%= link_to 'checkout', invoice_path %>


